<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">ログイン</h1>
        <%= form_for :session, url: login_path do |f| %>
         <div class="form-group">
           <%= f.label :name, class: "text-white" %>
           <%= f.text_field :name, class: "form-control" %>
         </div>
         <div class="form-group">
           <%= f.label :password, class: "text-white" %>
           <%= f.password_field :password, class: "form-control" %>
         </div>
        <div style="text-align:center">
          <div class="btn3-group">
           <%= f.submit "ログイン", class: 'btn3 btn-lg btn-primary' %>
         </div>
       </div>

          <% end %>
        </div>
      </div>
    </div>
 </div>
