<div class="topic-index-wrapper">
  <div class="container">
    <% @topics.each do |topic| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="topic-index-single">
          <h4 class="topic-author">
            <ul style="list-style:none;">
              <li><%= topic.user.name %></li>
              <li><%= topic.title %></li>
            </ul>
          </h4>
          <% if topic.image.url == nil %>
          <img src="http://placehold.jp/50/bebecc/e3dfdf/350x350.png?text=No%20Image" >
          <% else %>
          <%= image_tag topic.image.url %>
          <% end %>
          <p class="topic-text">
            <ul>
              <li><%= topic.category %></li>
            </ul>
            <ul style="list-style:none;">
              <li><%= topic.description %></li>
            </ul>
          </p>
          <div class="topic-menu">
            <%= link_to("削除", "/topics/#{topic.id}", {method: "delete"}) %>
          </div>
          <!--ここからコメント投稿機能を作成する -->
          <% if user_signed_in? %>
          <div class="comment-title">
            <h3>＜コメント一覧＞</h3>
            <% topic.comments.each do |comment| %>
            <div>
              <a href="/users/<%= comment.user.id %>"><%= comment.user.name %></a>
              <%= comment.content %>
            </div>
            <% end %>
            <%= form_for [topic, Comment.new] do |f| %>
            <%= f.text_field :content %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :topic_id, value: topic.id %>
            <br>
            <%= f.submit "コメントする", class: 'btn4 btn-lg btn-primary' %>
            <% end %>
            <% else %>
            <div class="btn2-group">
              <%= f.submit "登録", class: 'btn2 btn-lg btn-primary ' %>
            </div>
            <% end %>




          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
