<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <% if @topic.errors.any? %>
        <div id="error_explanation" class="alert alert-warning">
          <ul>
            <% @topic.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
        </div>
        <% end %>
        <h1 class="text-center">新規投稿</h1>
         <%= form_for @topic do |f| %>
          <div class="form-group">
            <%= f.label :"タイトル" %>
            <%= f.text_field :title, class: 'form-control' %>


            <%= f.label :"カテゴリー" %><br>
             <%= f.select :category, [["しつけ", "しつけ"], ["保育園・幼稚園", "保育園・幼稚園"], ["病気", "病気"], ["遊び場、レストラン"], ["授乳場所"]], class:"form-control" %>
             <br>
            <%= f.label :"投稿内容" %>
            <%= f.text_area :description, class: 'form-control' %>
           </div>

           <div class="form-group">
             <%= f.label :"投稿画像" %>
             <%= f.file_field :image %>
           </div>
          <div style="text-align:center">
           <%= f.submit '投稿', class: 'btn4 btn-lg btn-primary' %>
         </div>
            <% end %>

         </div>
       </div>
     </div>
   </div>
