<div class="recipe-index-wrapper">
  <div class="container">
    <% @recipes.each do |recipe| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="recipe-index-single">
          <h4 class="recipe-author">
            <%= recipe.user.name %>
          </h4>
          <h3 class="recipe-author"><%= recipe.title %></h3>
          <%= image_tag recipe.image.url %>
          <p class="recipe-text">
            <ul>
              <li><%= recipe.category %></li>
            </ul>
            <ul style="list-style:none;">
              <li><%= recipe.cooking_material %></li>
              <li><%= recipe.how_to_make %></li>
            </ul>
          </p>

           <% if Like.find_by(user_id: @current_user.id, recipe_id: @recipes.id) %>

            <%= link_to("/likes/#{@recipe_id}/destroy",{method: "post"}) do %>
             <span class="fa fa-heart like-btn-unlike"></span>
             <% end %>

           <% else %>
            <%= link_to("/likes/#{@recipe_id}/create",{method: "post"}) do %>
             <span class="fa fa-heart like-btn"></span>
             <% end %>
            <% end %>

          <div class="recipe-menu">
            <%= link_to("削除", "/recipes/#{recipe.id}", {method: "delete"}) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
