<!--非ログイン時-->

<div class="recipe-index-wrapper">
  <div class="container">
    <% @recipes.each do |recipe| %>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="recipe-index-single">
          <h4 class="recipe-author">
            <%= recipe.user.name %>
          </h4>
          <h3 class="recipe-author"><%= recipe.title %></h3>
          <%= image_tag recipe.image.url %>
          <p class="recipe-text">
            <ul>
              <li><%= recipe.category %></li>
            </ul>
            <ul style="list-style:none;">
              <li><%= recipe.cooking_material %></li>
              <li><%= recipe.how_to_make %></li>
            </ul>
          </p>

          <div style="text-align:center">
            <div class="btn2">
              <%= link_to '新規登録' , signup_path %>
            </div>
          </div>

        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
