<h1>プロフィール編集</h1>

<div class="row">

  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render "shared/errors_messages", object: f.object %>

  <div class="profile_left">

    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email  %>
    <%= f.email_field :email, class: 'form-control' %>

    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <div class="profile_right">
    <%= f.label :introduction %>
    <%= f.text_area :s_introduction, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

   <%= f.submit "更新する",   class: "btn3 btn-primary" %>

   <% end %>
 </div>
</div>
