<!DOCTYPE html>
<html>
  <head>
    <title>Ikuji</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">


  </head>

  <body>
    <% flash.each do |key,value| %>
     <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <nav class="navbar navbar-default navbar-fixed-top navbar-transparent <%=
    (controller.controller_name == 'users' && (controller.action_name == 'show' ||
      controller.action_name == 'edit' )) || (controller.controller_name == 'topics' && controller.action_name == 'new') ||
      (controller.controller_name == 'recipes' && controller.action_name == 'new')? '': 'navbar-background' %>">
      <div class="container">
        <%= link_to root_path do %>
         <span><%= image_tag "icon/logo.png", :size => '90x90' %></span>
        <% end %>
        <ul class="nav navbar-nav navbar-right">
            <% current_user = User.find_by(id: session[:user_id]) %>
            <% if current_user %>
             <li>
                <%= link_to "投稿一覧", topics_path %>

             </li>
             <li>
               <%= link_to "新規投稿", new_topic_path %>

             </li>
             <li>
               <%= link_to "レシピ一覧", recipes_path %>

             </li>
             <li>
               <%= link_to "レシピ投稿", new_recipe_path %>
             </li>
             <li>
               <%= link_to "マイページ", "/users/#{current_user.id}" %>

            </li>
            <li>
              <%= link_to "ログアウト", logout_path, method: :delete %>
            </li>

          <% else %>
            <li>
              <%= link_to "新着情報" , "/new_topics" %>

            </li>
            <li>
              <%= link_to "新着レシピ" %>

            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <%= yield %>

    <script>
     $(function() {
       $(".alert").fadeOut(5000);
     });
    </script>
  </body>
</html>
